aniso8601==3.0.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
falcon==1.4.1
Flask==1.0.2
flask-restplus==0.11.0
hug==2.4.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
joblib==0.11
jsonschema==2.6.0
MarkupSafe==1.0
numpy==1.14.3
py4j==0.10.6
pyspark==2.3.0
python-mimeparse==1.6.0
pytz==2018.4
requests==2.18.4
six==1.11.0
urllib3==1.22
Werkzeug==0.15.3
