<html lang="en"><head>
    <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://assets-cdn.github.com">
  <link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">
  <link rel="dns-prefetch" href="https://avatars1.githubusercontent.com">
  <link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">
  <link rel="dns-prefetch" href="https://avatars3.githubusercontent.com">
  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">
  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">



  <link crossorigin="anonymous" media="all" integrity="sha512-PkbtxdWDpLChpxtWQ0KbvJoef4XMYPq5pfd/ZmylYZTzXYpCfGwN9d+bsSKcmOJLwTkfjFkfj5wz3poDrhJoSQ==" rel="stylesheet" href="https://assets-cdn.github.com/assets/frameworks-f6e6ce21346c0d2eb22def1e8534afcb.css">
  <link crossorigin="anonymous" media="all" integrity="sha512-5Pj8fq31sBxIXK/KwAiU+J0oAeEWcf3ndslrDTUHFp1D9pyFfxQrIOS0mWomoAkUy1xbFPXOt/X6Aoj3kITLow==" rel="stylesheet" href="https://assets-cdn.github.com/assets/github-77e7f4e063161936c478054317d2f5be.css">





  <meta name="viewport" content="width=device-width">

  <title>dota2-recommonder/README.md at master · horizon23/dota2-recommonder</title>
    <meta name="description" content="GitHub is where people build software. More than 28 million people use GitHub to discover, fork, and contribute to over 85 million projects.">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub">
  <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
  <meta property="fb:app_id" content="1401488693436528">


    <meta property="og:image" content="https://avatars1.githubusercontent.com/u/9616865?s=400&amp;v=4"><meta property="og:site_name" content="GitHub"><meta property="og:type" content="object"><meta property="og:title" content="horizon23/dota2-recommonder"><meta property="og:url" content="https://github.com/horizon23/dota2-recommonder"><meta property="og:description" content="Contribute to dota2-recommonder development by creating an account on GitHub.">

  <link rel="assets" href="https://assets-cdn.github.com/">
  <link rel="web-socket" href="wss://live.github.com/_sockets/VjI6MjgzOTE4OTE1OjJkYzBhNjY3NzhlZjU5MjFlNGVlZTlhNDY2NzlhMTU5ZThiMDNmNjZkZDJlYzM3Y2Q0N2UwZjZhMDM4ZGQ3N2E=--0eb3989a9c12d754fc240b48f3774f94003fe220">
  <meta name="pjax-timeout" content="1000">
  <link rel="sudo-modal" href="/sessions/sudo_modal">







    <meta name="google-site-verification" content="KT5gs8h0wvaagLKAVWq8bbeNwnZZK1r1XQysX3xurLU">
  <meta name="google-site-verification" content="ZzhVyEFwb7w3e0-uOTltm8Jsck2F5StVihD0exw2fsA">
  <meta name="google-site-verification" content="GXs5KoUUkNCoaAZn7wPN-t01Pywp9M3sEjnt_3_ZWPc">
    <meta name="google-analytics" content="UA-3769691-2">

<meta name="octolytics-host" content="collector.githubapp.com"><meta name="octolytics-app-id" content="github"><meta name="octolytics-event-url" content="https://collector.githubapp.com/github-external/browser_event"><meta name="octolytics-dimension-request_id" content="C9A7:219F:7775D3:ADD283:5B1825E6"><meta name="octolytics-dimension-region_edge" content="ap-southeast-1"><meta name="octolytics-dimension-region_render" content="iad"><meta name="octolytics-actor-id" content="9616865"><meta name="octolytics-actor-login" content="horizon23"><meta name="octolytics-actor-hash" content="035d8e4d9220a6859fce90d0afa74e67488a5e908e4c9b0887cd254ada3e017a">





  <meta class="js-ga-set" name="dimension1" content="Logged In">




      <meta name="hostname" content="github.com">
    <meta name="user-login" content="horizon23">

      <meta name="expected-hostname" content="github.com">
    <meta name="js-proxy-site-detection-payload" content="ZTM5MjY5MTg4MTIwY2MyYWUwMmI0OTkzYTE2NzhlNjBmMTgyMWMwNDg1ZDI1MjVkYWU4Yjk4ZDVjYWQzZDg2YXx7InJlbW90ZV9hZGRyZXNzIjoiMTg0LjIyLjg5LjE2NSIsInJlcXVlc3RfaWQiOiJDOUE3OjIxOUY6Nzc3NUQzOkFERDI4Mzo1QjE4MjVFNiIsInRpbWVzdGFtcCI6MTUyODMwOTI0OCwiaG9zdCI6ImdpdGh1Yi5jb20ifQ==">

    <meta name="enabled-features" content="UNIVERSE_BANNER,FREE_TRIALS,MARKETPLACE_INSIGHTS,MARKETPLACE_INSIGHTS_CONVERSION_PERCENTAGES,DIFF_EDIT_HISTORY">

  <meta name="html-safe-nonce" content="57db5fbd16a07e8be5a1430d4f0f4d7784063016">

  <meta http-equiv="x-pjax-version" content="f09e75540f40ce029622a864aab037ae">


      <link href="https://github.com/horizon23/dota2-recommonder/commits/master.atom" rel="alternate" title="Recent Commits to dota2-recommonder:master" type="application/atom+xml">

  <meta name="description" content="Contribute to dota2-recommonder development by creating an account on GitHub.">
  <meta name="go-import" content="github.com/horizon23/dota2-recommonder git https://github.com/horizon23/dota2-recommonder.git">

  <meta name="octolytics-dimension-user_id" content="9616865"><meta name="octolytics-dimension-user_login" content="horizon23"><meta name="octolytics-dimension-repository_id" content="136199576"><meta name="octolytics-dimension-repository_nwo" content="horizon23/dota2-recommonder"><meta name="octolytics-dimension-repository_public" content="true"><meta name="octolytics-dimension-repository_is_fork" content="false"><meta name="octolytics-dimension-repository_network_root_id" content="136199576"><meta name="octolytics-dimension-repository_network_root_nwo" content="horizon23/dota2-recommonder"><meta name="octolytics-dimension-repository_explore_github_marketplace_ci_cta_shown" content="true">





  <meta name="browser-stats-url" content="https://api.github.com/_private/browser/stats">

  <meta name="browser-errors-url" content="https://api.github.com/_private/browser/errors">

  <link rel="mask-icon" href="https://assets-cdn.github.com/pinned-octocat.svg" color="#000000">
  <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://assets-cdn.github.com/favicon.ico">

<meta name="theme-color" content="#1e2327">


  <meta name="u2f-support" content="true">

<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">

  <meta name="selected-link" value="repo_source" data-pjax-transient="true"><meta name="analytics-location" content="/<user-name>/<repo-name>/blob/show" data-pjax-transient="true"><meta name="request-id" content="C9A7:219F:7777D2:ADD62A:5B182601" data-pjax-transient="true"><link rel="canonical" href="https://github.com/horizon23/dota2-recommonder/blob/master/README.md" data-pjax-transient="true"><link href="https://github.com/horizon23/dota2-recommonder/commits/master.atom" rel="alternate" title="Recent Commits to dota2-recommonder:master" type="application/atom+xml" data-pjax-transient="true"></head>

  <body class="logged-in env-production emoji-size-boost intent-mouse">


  <div class="position-relative js-header-wrapper ">
    <a href="#start-of-content" tabindex="1" class="p-3 bg-blue text-white show-on-focus js-skip-to-content">Skip to content</a>
    <div id="js-pjax-loader-bar" class="pjax-loader-bar"><div class="progress" style="transition: width 0.4s ease 0s; width: 100%;"></div></div>





        <div class="js-notice">

  </div>









  </div>

  <div id="start-of-content" class="show-on-focus"></div>

    <div id="js-flash-container">
</div>



  <div role="main" class="application-main ">
        <div itemscope="" itemtype="http://schema.org/SoftwareSourceCode" class="">
    <div id="js-repo-pjax-container" data-pjax-container=""><div class="container new-discussion-timeline experiment-repo-nav  ">
  <div class="repository-content ">


  <a class="d-none js-permalink-shortcut" data-hotkey="y" href="/horizon23/dota2-recommonder/blob/c9f22f1921f8837b4239535f3318f9c75be8cbf6/README.md">Permalink</a>

  <!-- blob contrib key: blob_contributors:v21:8056f9383b63ca1fc34bd0cd27fd71d8 -->






  <div class="commit-tease">

      <div>
        <a rel="author" data-skip-pjax="true" data-hovercard-user-id="9616865" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="https://github.com/horizon23" aria-describedby="hovercard-aria-description"><img class="avatar" src="https://avatars2.githubusercontent.com/u/9616865?s=40&amp;v=4" width="20" height="20" alt="@horizon23"></a>
        <a class="user-mention" rel="author" data-hovercard-user-id="9616865" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="https://github.com/horizon23" aria-describedby="hovercard-aria-description">horizon23</a>
          <a data-pjax="true" title="Added more docs" class="message" href="/horizon23/dota2-recommonder/commit/c9f22f1921f8837b4239535f3318f9c75be8cbf6">Added more docs</a>
      </div>



    <div id="blob_contributors_box" style="display:none">
      <h2 class="facebox-header" data-facebox-id="facebox-header">Users who have contributed to this file</h2>
      <ul class="facebox-user-list" data-facebox-id="facebox-description">
          <li class="facebox-user-list-item">
            <a class="d-inline-block" data-hovercard-user-id="9616865" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/horizon23" aria-describedby="hovercard-aria-description"><img src="https://avatars3.githubusercontent.com/u/9616865?s=48&amp;v=4" width="24" height="24" alt="@horizon23"></a>
            <a data-hovercard-user-id="9616865" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" href="/horizon23" aria-describedby="hovercard-aria-description">horizon23</a>
          </li>
      </ul>
    </div>
  </div>



  <div class="file">



  <div id="readme" class="readme blob instapaper_body">
    <article class="markdown-body entry-content" itemprop="text"><h1><a id="user-content-dota2-api" class="anchor" aria-hidden="true" href="#dota2-api"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>dota2 API</h1>
<p>###1. Leaderboard</p>
<p>1.1 <code>GET /leaderboard?player_ids={account_ids}&amp;time_window={time_window}</code></p>
<p>1.2 <code>GET /leaderboard?player_ids={usernames}&amp;time_window={time_window}</code></p>
<pre><code>   e.g`/leaderboard?player_ids=76482434,zAHARASAURUS&amp;time_window=month`
</code></pre>
<ul>
<li>
<p>player_ids - a comma separated list of <code>account_id</code> / <code>username</code></p>
</li>
<li>
<p>time_window - accepted values =&gt; <code>week</code> / <code>month</code> / <code>year</code></p>
<div class="highlight highlight-source-js"><pre>Sample Response
[{
<span class="pl-s"><span class="pl-pds">"</span>account_id<span class="pl-pds">"</span></span><span class="pl-k">:</span> <span class="pl-c1">76482434</span>,
<span class="pl-s"><span class="pl-pds">"</span>win_rate<span class="pl-pds">"</span></span><span class="pl-k">:</span> <span class="pl-c1">2.033333333333333</span>,
<span class="pl-s"><span class="pl-pds">"</span>wins<span class="pl-pds">"</span></span><span class="pl-k">:</span> <span class="pl-c1">61</span>
},
{
<span class="pl-s"><span class="pl-pds">"</span>account_id<span class="pl-pds">"</span></span><span class="pl-k">:</span> <span class="pl-c1">88018</span>,
<span class="pl-s"><span class="pl-pds">"</span>win_rate<span class="pl-pds">"</span></span><span class="pl-k">:</span> <span class="pl-c1">0.8333333333333334</span>,
<span class="pl-s"><span class="pl-pds">"</span>wins<span class="pl-pds">"</span></span><span class="pl-k">:</span> <span class="pl-c1">25</span>
}]<span class="pl-s"><span class="pl-pds">`</span><span class="pl-pds">`</span><span class="pl-pds">`</span></span>
<span class="pl-s"></span></pre></div>
</li>
</ul>
<p>###2. Players Comparison</p>
<p><code>GET /compare?player1={account_id}&amp;player2={account_id}</code></p>
<ul>
<li>
<p>player1 - <code>account_id</code> / <code>player_name</code></p>
</li>
<li>
<p>player2 - <code>account_id</code> / <code>player_name</code></p>
<pre><code>e.g /compare?player1=87776861&amp;player2=112127585
</code></pre>
</li>
</ul>
<p><code>Sample response</code>
<a target="_blank" href="https://github.com/horizon23/dota2-recommonder/blob/master/comparison.png"><img src="https://github.com/horizon23/dota2-recommonder/raw/master/comparison.png" height="540" width="780" style="max-width:100%;"></a></p>
<p>###3. Recommendation Engine (Recommend hero)</p>
<p><code>GET /suggest?player={account_id}</code></p>
<ul>
<li>
<p>player - <code>account_id</code> / <code>player_name</code></p>
<pre><code>e.g /suggest?player=108383863
</code></pre>
</li>
</ul>
<p>####3.1 Train model (remote-data)
<code>GET /train?training_size={training_size}</code></p>
<p>######Note: Training size is optional, <code>default = 2000</code></p>
<p>####3.2 Train model (local-data)
<code>GET /train_locally?training_size={training_size}</code></p>
<p>######Note: Training size is optional, <code>default = 2000</code></p>
<p>Because of the limitation of rest-api server <code>60 calls per minute</code>, I have downloaded all pro players data and hence on this api call request, it will train model on local data.
If you have premium membership then just put you access-token and use remote data training.</p>
<p>####3.3 Suggest hero to a player
<code>GET /suggest?player={account_id}</code></p>
<p>Recommendation model is prepared using pyspark <em>(Apace Spark)</em>, <em>RandomForestRegressor</em> is applied by selecting players statistics as <code>features</code> and there most winning hero as <code>label</code>.</p>
<div class="highlight highlight-source-js"><pre>Sample Response
{
  <span class="pl-s"><span class="pl-pds">"</span>suggested_hero<span class="pl-pds">"</span></span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">"</span>Brewmaster<span class="pl-pds">"</span></span>
}</pre></div>
<p>##Setup</p>
<ol>
<li>
<p><code>pip3 install -r requirements.txt</code></p>
</li>
<li>
<p><code>python3 server.py</code></p>
</li>
</ol>
<p>Server link: <code>http://localhost:5000/</code></p>
</article>
  </div>

  </div>

  <button type="button" data-facebox="#jump-to-line" data-facebox-class="linejump" data-hotkey="l" class="d-none">Jump to Line</button>
  <div id="jump-to-line" style="display:none">
    <!-- '"` --><!-- </textarea></xmp> --><form class="js-jump-to-line-form" action="" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
      <input class="form-control linejump-input js-jump-to-line-field" type="text" placeholder="Jump to line…" aria-label="Jump to line" autofocus="">
      <button type="submit" class="btn">Go</button>
</form>  </div>


  </div>
  <div class="modal-backdrop js-touch-events"></div>
</div></div>
  </div>

  </div>


<div class="footer container-lg px-3" role="contentinfo">

  <div class="d-flex flex-justify-center pb-6">
    <span class="f6 text-gray-light"></span>
  </div>
</div>



  <div id="ajax-error-message" class="ajax-error-message flash flash-error">
    <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 0 0 0 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 0 0 .01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"></path></svg>
    <button type="button" class="flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
      <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path></svg>
    </button>
    You can’t perform that action at this time.
  </div>



    <script crossorigin="anonymous" integrity="sha512-rTmClkyJxuWVxD3HuXtPq/5kD0857EfJF77T++HayvDGIYtxo5/ctJc8dYwYj/wSbAU4pD6iSTbLDMs8uNVtlQ==" type="application/javascript" src="https://assets-cdn.github.com/assets/frameworks-10f86fbecbc74b507bd240fe66202501.js"></script>

    <script crossorigin="anonymous" async="async" integrity="sha512-VZX5e2PAduVwKFBY5IaJk7Bg7BOI7vzsbneQ+XGdrvg4mXNNu7m1NIKRX7M4eFwjEXS49mZJQraPKwvXmDVzvw==" type="application/javascript" src="https://assets-cdn.github.com/assets/github-5c1954d1915cc1eb4f0d7f0959ad2d35.js"></script>



  <div class="js-stale-session-flash stale-session-flash flash flash-warn flash-banner d-none">
    <svg class="octicon octicon-alert" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 0 0 0 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 0 0 .01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"></path></svg>
    <span class="signed-in-tab-flash">You signed in with another tab or window. <a href="">Reload</a> to refresh your session.</span>
    <span class="signed-out-tab-flash">You signed out in another tab or window. <a href="">Reload</a> to refresh your session.</span>
  </div>
  <div class="facebox" id="facebox" style="display:none;">
  <div class="facebox-popup">
    <div class="facebox-content" role="dialog" aria-labelledby="facebox-header" aria-describedby="facebox-description">
    </div>
    <button type="button" class="facebox-close js-facebox-close" aria-label="Close modal">
      <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path></svg>
    </button>
  </div>
</div>

  <div class="Popover js-hovercard-content position-absolute" style="display: none; outline: none;" tabindex="0">
  <div class="Popover-message Popover-message--bottom-left Popover-message--large Box box-shadow-large" style="width:360px;"></div>
</div>

<div id="hovercard-aria-description" class="sr-only">
  Press h to open a hovercard with more details.
</div>





<iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe><div id="GOOGLE_INPUT_CHEXT_FLAG" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}" style="display: none;"></div></body></html>